html {
  /* our light-mode / default theme variable values */
  --primaryTextColor: black;
  --primaryBackgroundColor: white;
  --headingTextColor: white;
  --secondaryBackgroundColor: white;
  --logoInversion: invert(100%);
}

@media (prefers-color-scheme: dark) {
  html {
    /* here's where we change the variable values for dark mode */
    --primaryTextColor: white;
    --primaryBackgroundColor: black;
    --headingTextColor: white;
    --secondaryBackgroundColor: black;
    --logoInversion: invert(0);
  }
}

body {
  background: var(--secondaryBackgroundColor);
  color: var(--primaryTextColor);
}
img {
  max-width: 150px;
  filter: var(--logoInversion);
}
.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 80px;
  background: var(--primaryBackgroundColor);
}
.buttons {
  display: block;
  padding: 10px;
}

.buttons button {
  padding: 15px;
  background-color: rgb(163, 8, 8);
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 16px;
  border: none;
  margin: 4px 2px;
}

.submit button {
  padding: 15px;
  background-color: rgb(163, 8, 8);
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 16px;
  border: none;
  margin: 4px 2px;
}

input {
  min-width: 150px;
  margin: 30px;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(163, 8, 8);
  border: none;
  box-shadow: 0px 1px 0px rgb(163, 8, 8);
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}
.App > h1 {
  margin-bottom: 5px;
}
.App > h2 {
  margin-top: 5px;
  opacity: 0.7;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.fetch-button {
  min-width: 150px;
  margin: 30px;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(163, 8, 8);
  border: none;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
}

.last-workout {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 632px) {
  .workout {
    display: block;
  }
}

.workout {
  position: relative;
  border-radius: 5px;
  margin: 10px;
  width: 20%;
  display: inline-block;
}

.workout h3 {
  margin-bottom: 5px;
  font-size: 1rem;
  opacity: 0.7;
}

.workout h2 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.workout img {
  max-width: 25px;
  max-height: 25px;
}

.details {
  text-align: left;
}
